<%= form_for :data, url: book_path(@book)+"/send_email" do |form| %>
  <div class="mb-3">
    <%= form.label :title, :class => "form-label" %><br>
    <%= form.text_field :title, :class => "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :message, :class => "form-label"  %><br>
    <%= form.text_area :message, :class => "form-control" %>
  </div>
  <div>
    <%= form.submit :class => "btn btn-primary"  %>
  </div>
<% end %>