<h2> <%= @book.title %>       </h2>
<h3> <%= @book.author %>      </h3>
<p>  <%= @book.description %> </p>

<ul>
  <li><%= link_to "Edit", edit_book_path(@book) %></li>
</ul>

<%= link_to "All books", books_path %>

<div>
<h1> Write to seller of this book </h1>
<%= form_for :data, url: book_path(@book)+"/send_email" do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :message %><br>
    <%= form.text_area :message %>
  </div>
  <div>
    <%= form.submit %>
  </div>
  <% end %>
</div>

<h2>Reviews</h2>
<%= render @book.reviews %>

<%if current_user %>
<h2>Add a review:</h2>
<%= render 'reviews/form' %>
<% end %>