<%= form_with model: [ @book, @book.reviews.build ] do |form| %>
    <p>
      <%= form.label :title  , :class => "form-label"%><br>
      <%= form.text_field :title, :class => "form-control"  %>
    </p>
    <p>
      <%= form.label :body  , :class => "form-label"%><br>
      <%= form.text_area :body , :class => "form-control" %>
    </p>
    <p>
      <%= form.submit :class => "btn btn-primary"%>
    </p>
<% end %>