<!DOCTYPE html>
<html>
  <head>
    <title>BookStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>


  <% if current_user %>
  <p> You are a  <%= current_user.role %> </p>
  <p> Hello user <%= current_user.email %> </p>

  <% if current_user.role == "seller" %>
  <%= link_to "New Book", new_book_path %>
  <% end %>
  
  <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: "false" } %>
  <% else %>
  <p> You are not signed in!</p>
  <%= link_to "Sign Up", new_user_registration_path %> </br>
  <%= link_to "Log In", new_user_session_path %>

<% end %>
</br>




  <body>
  <% flash.each do |type, msg| %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
